body {
    background-color: cornflowerblue;
    margin-left: 20px;

}

h1 {
    color: chartreuse;
    margin-left: 20px;
}
p {
    color:crimson;
}
#para1 {
    color:aquamarine
}

.center{
    text-align: center;
}